# for object detection and pose estimation
mediapipe==0.10.9

# for golfdb
opencv-python
numpy
pandas
torch

# web app
fastapi
uvicorn
python-multipart
jinja2

# for ollama LLM interaction
requests

# TTS
TTS==0.22.0