# for object detection and pose estimation
mediapipe

# for golfdb
opencv-python
numpy
pandas
torch

# web app
fastapi
uvicorn
python-multipart
jinja2

# for ollama LLM interaction
requests

# TTS
TTS